PIHOLE_INTERFACE={{ pihole_setupvars_PIHOLE_INTERFACE }}
IPV4_ADDRESS={{ pihole_setupvars_IPV4_ADDRESS }}
IPV6_ADDRESS={{ pihole_setupvars_IPV6_ADDRESS }}
QUERY_LOGGING={{ pihole_setupvars_QUERY_LOGGING }}
INSTALL_WEB_SERVER={{ pihole_setupvars_INSTALL_WEB_SERVER }}
INSTALL_WEB_INTERFACE={{ pihole_setupvars_INSTALL_WEB_INTERFACE }}
LIGHTTPD_ENABLED={{ pihole_setupvars_LIGHTTPD_ENABLED }}
WEBPASSWORD={{ pihole_setupvars_WEBPASSWORD }}
BLOCKING_ENABLED={{ pihole_setupvars_BLOCKING_ENABLED }}
PIHOLE_DNS_1={{ pihole_setupvars_PIHOLE_DNS_1 }}
PIHOLE_DNS_2={{ pihole_setupvars_PIHOLE_DNS_2 }}
DNS_FQDN_REQUIRED={{ pihole_setupvars_DNS_FQDN_REQUIRED }}
DNS_BOGUS_PRIV={{ pihole_setupvars_DNS_BOGUS_PRIV }}
DNSSEC={{ pihole_setupvars_DNSSEC }}
CONDITIONAL_FORWARDING={{ pihole_setupvars_CONDITIONAL_FORWARDING }}
DNSMASQ_LISTENING={{ pihole_setupvars_DNSMASQ_LISTENING }}
CONDITIONAL_FORWARDING_IP={{ pihole_setupvars_CONDITIONAL_FORWARDING_IP }}
CONDITIONAL_FORWARDING_DOMAIN={{ pihole_setupvars_CONDITIONAL_FORWARDING_DOMAIN }}
CONDITIONAL_FORWARDING_REVERSE={{ pihole_setupvars_CONDITIONAL_FORWARDING_REVERSE }}