WEBPASSWORD={{ pihole_setupvars_webpassword }}
DNS_FQDN_REQUIRED={{ pihole_setupvars_dns_fqdn_required }}
DNS_BOGUS_PRIV={{ pihole_setupvars_dns_bogus_priv }}
DNSSEC={{ pihole_setupvars_dnssec }}
DNSMASQ_LISTENING={{ pihole_setupvars_dnsmasq_listening }}
{% if pihole_setupvars_conditional_forwarding | bool %}
CONDITIONAL_FORWARDING={{ pihole_setupvars_conditional_forwarding }}
CONDITIONAL_FORWARDING_IP={{ pihole_setupvars_conditional_forwarding_ip }}
CONDITIONAL_FORWARDING_DOMAIN={{ pihole_setupvars_conditional_forwarding_domain }}
CONDITIONAL_FORWARDING_REVERSE={{ pihole_setupvars_conditional_forwarding_reverse }}
{% endif %}
{% if pihole_setupvars_rev_server | bool %}
REV_SERVER={{ pihole_setupvars_rev_server }}
REV_SERVER_CIDR={{ pihole_setupvars_rev_server_cidr }}
REV_SERVER_TARGET={{ pihole_setupvars_rev_server_target }}
REV_SERVER_DOMAIN={{ pihole_setupvars_rev_server_domain }}
{% endif %}
PIHOLE_INTERFACE={{ pihole_setupvars_pihole_interface }}
IPV4_ADDRESS={{ pihole_setupvars_ipv4_address }}
IPV6_ADDRESS={{ pihole_setupvars_ipv6_address }}
{% for dns_entry in pihole_setupvars_pihole_dns %}
PIHOLE_DNS_{{ loop.index }}={{ dns_entry }}
{% endfor %}
QUERY_LOGGING={{ pihole_setupvars_query_logging }}
INSTALL_WEB_SERVER={{ pihole_setupvars_install_web_server }}
INSTALL_WEB_INTERFACE={{ pihole_setupvars_install_web_interface }}
LIGHTTPD_ENABLED={{ pihole_setupvars_lighttpd_enabled }}
BLOCKING_ENABLED={{ pihole_setupvars_blocking_enabled }}
ADMIN_EMAIL={{ pihole_setupvars_admin_email }}
WEBUIBOXEDLAYOUT={{ pihole_setupvars_weblayout }}
WEBTHEME={{ pihole_setupvars_webtheme }}
